.js-split{
  display: inline-block;
  overflow: hidden;
}

.js-split span{
  display: inline-block;
  transition: transform 0.6s cubic-bezier(.215, .61, .355, 1), font-size 0.8s cubic-bezier(.215, .61, .355, 1);
}

.js-split.js-slow span{
  display: inline-block;
  transition: transform 2s cubic-bezier(.215, .61, .355, 1), font-size 1.5s cubic-bezier(.215, .61, .355, 1);
}

.js-split span.fromScroll{
  transform: translateY(180%);
}

.js-split.inView span.fromScroll{
    transform: translateY(0);
  }

.js-split.inView span:not(.fromScroll){
  transform: translateY(0);
}

.js-fadeUp{
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;

  &.inView{
    opacity: 1;
    transform: translateY(0);
  }
}

.p-main__vision p.inView::before,
.p-main__story p.inView::before{
  transform: scaleY(1);
}

.js-fadeRight{
  opacity: 0;
  transform: translateX(20%);
  transition:
    opacity 3s linear,
    transform 1s cubic-bezier(.215, .61, .355, 1);
}
.js-fadeRight.inView{
  opacity: 1;
  transform: translateX(0);
}

.p-main__interviewItemImg.js-fadeRight{
  opacity: 0;
  transform: translateX(20%);
  transition:
    opacity 3s linear,
    transform 1s cubic-bezier(.215, .61, .355, 1);
}
.p-main__interviewItemImg.js-fadeRight.inView{
  opacity: 1;
  transform: translateX(0);
}

.js-slideRight {
  opacity: 0;
  transform: translateX(20%);
  transition:
    opacity 4s linear,
    transform 4s cubic-bezier(.215, .61, .355, 1);
}

.js-slideRight.inView {
  opacity: 1;
  transform: translateX(0);
}